body {
	opacity: 0;
    	transition: opacity 1s;
    	-webkit-transition: opacity 1s;
	background-image: url("./buntime-pink.png");
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-color:rgb(74,190,249);
	margin:0;
	height:100%;
}

html {
	font-size: 2vw;
	font-family:'Segoe UI';
	text-align: center;
	color:white;
	margin:0;
	height:100%;
}

h1 {
	color:white;
	font-size: 8vw;
	font-family:'Segoe UI';
	text-align: center;
	margin: 0px;
}

.content {
	text-align: center;
}

.row {
	display: flex;
}

.column {
	float: left;
	width: 33.33%; 
}

img { 
	border-radius: 5%;
}