.row {
	max-width:100%;
}

.row,
.row > .column {
	padding: 8px 16px;
}

.column {
	float: center;
	width: 23%;
	padding: 1%;
	display: none; 
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.show {
	display: block;
}

.btn {
	border: none;
	outline: none;
	padding: 1%;
	font-size: 1.5vw;
	background-color: white;
	cursor: pointer;
	font-family:'Segoe UI';
	color: rgb(0, 110, 255);
	border-radius: 12px;
}

.btn:hover {
	background-color: #ddd;
}

.btn:active {
	background-color: rgb(101,60,41);
	color: white;
}

.btn:focus {
	background-color: rgb(101,60,41);
	color: white;
}