.row {
	max-width:100%;
}

.row,
.row > .column {
}

.column {
	float: center;
	width: 23%;
	margin: 1%;
	display: none; 
}

.row:after {
	content: "";
	display: flex;
	clear: both;
}

@media only screen and (max-width: 1000px) {
	.column {
	width: 48%;
	}
}

.show {
	display: flex;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #bbb;
	cursor: pointer;
}

.btn {
	border: none;
	outline: none;
	padding: 1%;
	font-size: 1.5vw;
	background-color: white;
	cursor: pointer;
	font-family:'Segoe UI';
	color: rgb(0, 110, 255);
	border-radius: 12px;
}

.btn:hover {
	background-color: #ddd;
}

.btn:active {
	background-color: rgb(101,60,41);
	color: white;
}

.btn:focus {
	background-color: rgb(101,60,41);
	color: white;
}